.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(100, 65, 165), rgb(42, 8, 69));
  padding: 30px;
}
.buttonContainer {
  min-height: 60px;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 5px;
  color: #fff;
  min-height: 130px;
}
.no-more-posts {
  color: #fff;
  font-weight: bold;
  text-align: center;
}
